<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="True" />
  <param
    name="human_description"
    textfile="$(find human_model)/urdf/umanoa.urdf" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher"     pkg="robot_state_publisher"     type="state_publisher">
  <remap from="robot_description" to="human_description"/>
  </node>
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find human_model)/urdf.rviz" />
</launch>
